<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/adminstatic/css/login_admin.css}">
</head>
<body>
    
    <!-- Ảnh bên trái -->
    <img th:src="@{/adminstatic/img/bg_left.png}" alt="Left Image" class="left-image">

    <!-- Ảnh bên phải -->
    <img th:src="@{/adminstatic/img/bg_right.png}" alt="Right Image" class="right-image">

    <form th:action="@{/login}" method="post">
        <div id="info-section">
            <div class="login_logo">
                <img class="img_logo" src="https://code.ptit.edu.vn/2020/images/logo_ptit.png" alt="logoptit">
            </div>
            <div class="login_title">
                <h4 class="login_title--text-top">Đăng nhập</h4>
                <h3 class="login_title--text-bot">
                    <b>Admin</b>
                </h3>
            </div>
            <label for="name">Tên tài khoản</label>
            <input type="text"  id="name" class="form-control form-control-lg name" placeholder="ten tai khoan" name="username"><br>
            <label for="password">Mật khẩu</label><br>
            <div class="input-group pass">
                
                <input type="password" id="password" class="form-control form-control-lg" placeholder="mat khau" name="password"/>
                <!-- <div class="input-group-append">                                                 
                    <span class="eye-icon" onclick="togglePassword()">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                </div> -->
                
            </div>
            <div class="login_bottom_section">
                <div class="login_checkbox">
                    <input type="checkbox" value="1" name="remember" id="login_checkbox">
                    <label for="name_checkbox" class="name_checkbox">
                        Ghi nhớ
                    </label>
                </div>
                <a class="login_fogot-password" href="#">Quên mật khẩu?</a>
            </div>
            <button class="login-click" type="submit">Đăng nhập</button>
            

        </div>
    </form>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    <script th:src="@{/adminstatic/js/login_admin.js}"></script>
</body>
</html>