<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kết quả</title>
  <link rel="stylesheet" href="../css/KetQua.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    
  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <label for="check">
      <i style="left: 200px;margin-top: 5px;"class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>ADMIN</h3>
    </div>
    <div class="right_area">
      <a href="/index.html" class="logout_btn">Đăng xuất</a>
    </div>
  </header>
  <!--header area end-->
  <!--sidebar start-->
  <div class="sidebar">
    <a href="TrangDashBoard.html"><i class="fas fa-columns"></i><span>Trang chủ</span></a>
    <a href="TrangTaoChinhSuaKyThi.html"><i class="fas fa-tachometer-alt"></i><span>Quản lý kỳ thi</span></a>
    <a href="TrangKetQua.html"><i class="fas fa-book"></i><span>Kết quả thi </span></a>
    <a href="TrangThongKe.html"><i class="fas fa-chart-pie"></i><span>Thống kê</span></a>
    <a href="QuanLyTaiKhoan.html"><i class="fas fa-book"></i><span>Quản lý tài khoản</span></a>
  </div>

  <div class="content">
    <br><br><br><br><br>
    <!-- Tra cứu mã sinh viên -->
    <div class="ketqua">
      <div class="center">
          <div class="border">
            <div class="container">
              <div class="timkiem">Tìm kiếm sinh viên</div>
              <div class="info">
                <div class="masv">
                  <input type="text" id="fullName" placeholder="Mã sinh viên"><br>
                </div>
                <button class="tracuu" onclick="showResult()">Tra cứu</button>
              </div>
            </div>
          </div>
      </div>
      <!-- Bảng hiển thị kết quả -->
        <table id="resultTable" >
          <thead>
            <tr>
              <th>Mã</th>
              <th>Tên</th>
              <th>Môn thi</th>
              <th>Kỳ thi</th>
              <th>Thời gian</th>
              <th>Điểm</th>
              <th>Tình trạng</th>
              <th>Chi tiết</th>
            </tr>
          </thead>
          <tbody id="resultBody">
          </tbody>
        </table>
        <div><button id="exportBtn" onclick="exportToPDF()">Xuất File</button></div>
    </div>  
    <div id="detailModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Chi tiết câu hỏi và đáp án</h2>
        <div id="questionDetail">
          <!-- Nội dung câu hỏi và đáp án sẽ được thêm vào đây -->
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.2.3/jspdf.plugin.autotable.min.js"></script>
  <script src="../js/KetQua.js"></script>


</body>
</html>
